
@{
   Layout = null;
}


<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title>DemoHttpPost</title>
</head>
<body>
   <div>
      <h3>@ViewBag.message</h3>
   </div>
</body>
</html>

