@model Exercices1_3.Models.Calculatrice
@{
    ViewBag.Title = "CalculatriceV5";
}

<h2>CalculatriceV5</h2>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Petite calculatrice entière (un classique !) utilisant les controles HTML</title>
    <style id="style" type="text/css">
        BODY, INPUT, SELECT {
            font-family: Verdana;
            font-size: 16px;
        }

        .sRecommencer {
            font-size: 10px;
            vertical-align: 3px;
        }

        .sResultat {
            color: White;
            background-color: Red;
            font-weight: bold;
            border: solid 1px red;
            padding-left: 2px;
            padding-right: 2px;
        }

        .sRouge {
            color: White;
            background-color: Red;
        }

        .sTitreApplication {
            font-size: 32px;
            margin-top: 0px;
        }

        .sTitreSection {
            font-size: 24px;
        }

        .sZoneNombre {
            width: 25px;
            text-align: right;
        }

        .visible {
            display: normal;
        }

        .invisible {
            display: none;
        }
    </style>
</head>
<body>
    <div>
        <p class="sTitreApplication">
            Petite calculatrice entière en MVC utilisant les controles HTML<br />
            par Gabriel Marrero
            <input type="submit" name="btnRecommencer" value="Recommencer" id="btnRecommencer" class="sRecommencer" onclick="location.href='/Serie02/CalculatriceV5'" />
        </p>
        <p class="sTitreSection">
            Présentation
        </p>
        <p>
            Le but de cette application est de simuler une petite calculatrice entière.
        </p>
        <p class="sTitreSection">
            Consignes
        </p>
        <p>
            Entrez un premier nombre, l'opérateur, puis un deuxième nombre. Cliquez ensuite
            sur le bouton "=" pour effectuer l'opération arithmétique.
        </p>
        @using (Html.BeginForm("CalculatriceV5", "Serie02", FormMethod.Post))
        {
            <p>
                @Html.TextBoxFor(m => m.tbNombre1, "", new { @maxlength = "2", @class = "sZoneNombre" })

                @Html.DropDownListFor(m=>m.ddlOperateur, new SelectList(
                new List< SelectListItem>()
                {
                new SelectListItem (){ Value="-1", Text=""},
                new SelectListItem (){ Value="+", Text="+"},
                new SelectListItem (){ Value="-", Text="-"},
                new SelectListItem (){ Value="x", Text="x"},
                new SelectListItem (){ Value="/", Text="/"},
                new SelectListItem (){ Value="Mod", Text="Mod"},
                new SelectListItem (){ Value="%", Text="%"}
                }," Value", "Text"),new { @onchange = "this.form.submit()"})
                @Html.TextBoxFor(m=>m.tbNombre2, "", new { @maxlength = "2", @class = "sZoneNombre " +Model.Afficher })


                <input type="submit" name="btnCalcul" value="=" id="btnCalcul" />

                <span id="lblVerdictFinal" class="sResultat"> @{ @Model.Resultat }   </span>
                <br />
                <span style="font-size:9px;">
                    Avertissement : L'application prévoit tous les scénarios possibles, sauf un (et
                    il est de taille).
                </span>
            </p>
        }
    </div>
</body>
</html>
