@* 7. Ajoutez la vue suivante (BienvenueAvecVue.cshtml) dans le dossier Views/Home :
*@


@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BienvenueAvecVue</title>
</head>
<body>
    <h1>Bienvenue dans le laboratoire 1 de programmation serveur II – 420-W56 en utilisant une vue</h1>
</body>
</html>