@model _04_Demo_Validation.Models.Model4

@{
    ViewBag.Title = "Index";
}

<h2>Utilisation de la validation avec les expressions régulières</h2>

@using (Html.BeginForm()) 
{
    
    
<div class="form-horizontal">
   
   <hr />
   @Html.ValidationSummary(true, "", new { @class = "text-danger" })
   Format à respecter: (999) 999-9999
   <div class="form-group">
      @Html.LabelFor(model => model.NoTelephone, htmlAttributes: new { @class = "control-label col-md-2" })
      <div class="col-md-10">
         @Html.EditorFor(model => model.NoTelephone, new { htmlAttributes = new { @class = "form-control" } })
         @Html.ValidationMessageFor(model => model.NoTelephone, "", new { @class = "text-danger" })
      </div>
   </div>

   <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
         <input type="submit" value="Validation" class="btn btn-default" />
      </div>
   </div>
</div>
}

