
@{
   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
   <meta name="viewport" content="width=device-width" />
   <title>DetailsViewData</title>
</head>
<body>
   <table>
      <tr>
         <td>
            EtudientId
         </td>
         <td>
            : @ViewData["Id"]
         </td>
      </tr>
      <tr>
         <td>
            EtudientNom
         </td>
         <td>
            : @ViewData["Nom"]
         </td>
      </tr>
      <tr>
         <td>
            Age
         </td>
         <td>
            : @ViewData["Age"]
         </td>
      </tr>
   </table>
</body>
</html>
